body {
    font-family: sans-serif;
      
    animation: theColor infinite 20s;
 }
@keyframes  theColor {
  
    0% {
       background:#e67e22 ;
    }
    20% {
       background:#34495e ;
    }
    40% {
       background:#e74c3c ;
    }
    60% {
       background:#d35400 ;
    }
    80% {
       background: #1abc9c;
    }
    100% {
       background: #fab1a0;
    }
    120% {
       background: #e84393;
    }
}
 .result {
    font-size: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border:none;
    padding:5rem;
    text-shadow:0.5 ;
    margin-bottom: 10px;
    height: 8rem;
   margin-bottom: 4rem;
   border-radius: 1rem;
   font-weight: bolder;
   overflow: hidden;
   transition: 0.2s;
   animation: newcolor infinite 10s;
  
 }
 @keyframes newcolor {
  0% {
     background: #e84393;
  }
  20% {
     background:#fab1a0 ;
  }
  40% {
     background: #1abc9c;
  }
  60% {
     background:#7158e2 ;
  }
  80% {
     background:  #e74c3c;
  }
  100% {
     background:  #34495e;
  }
  120% {
     background:#e67e22 ;
  }
}

 .result:hover{
  color:black;
  font-weight: bolder;

  background: #2196f3;
  box-shadow: 0 0 10px #ff3838,0  0  40px  green,0  0  80px green;
 }
 .result:active{
  color : whitesmoke;
  box-shadow: 0 0 10px #ff3838,0  0  40px  green,0  0  80px green;
 }
 button {
    padding: 1.3rem;
    margin:20px;
    cursor: pointer;
   
    border-radius: 50px;
    top: 0;
    font-weight: bolder;
    font-size: 1.1rem;
    overflow: hidden;
    transition: 0.2s;
 }
 button:hover{
   top: -50px;
   
   
   background: #2196f3;
  box-shadow: 0 0 10px #ff3838,0  0  40px  #2196f3,0  0  80px #2196f3;
 }
 

 button:active{
  background:red;
  color :white;
  font-weight: bolder;
  box-shadow: 0 0 10px red,0  0  40px red,0  0  80px red;
 }
 .container{
  margin-top: 10px;
 
   align-items: center;
   display: flex;
   justify-content: center;
 }
 .insertValue{
   padding: 15px;
   font-size: 1rem;
   align-items: center;
   margin-right: 3px;
   border-radius: 20px;
   font-weight: bolder;
 
   
 }

 .insertValue:hover{
  color: black;
 
  font-weight: bolder;

 }
 h1{
   font-size: 5rem ;
   align-items: center;
   display: flex;
   justify-content: center;
   border-radius: 1rem;
   transition: 0.5s;
  
 }
 h1:hover{
  text-shadow: 5px 5px 10px rgba(0,0,0 ,0.15);
  color:black;
   background: #2196f3;
   box-shadow: 0 0 10px  #2196f3,0  0  40px  #2196f3,0  0  80px  #2196f3;

 }
 
 